{% extends "auctions/layout.html" %}

{% block body %}
<h2>Create Listings</h2>

{% if create_message %}
<div class="alert alert-info">{{create_message}}</div>
{% endif %}

<form method="post" action="{% url 'create_listing'%}">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-3  text-right">
            <span>Title:</span>
        </div>
        <div class="col-sm-9">
            {{ form.title}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3  text-right">
            <span>Description:</span>
        </div>
        <div class="col-sm-9">
            {{ form.description}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3  text-right">
            <span>Starting bid:</span>
        </div>
        <div class="col-sm-9">
            {{ form.starting_bid}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3  text-right">
            <span>Category:</span>
        </div>
        <div class="col-sm-9">
            {{ form.category}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3  text-right">
            <span>Image:</span>
        </div>
        <div class="col-sm-9">
            {{ form.image}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3  text-right">
           
        </div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

    
</form>
{% endblock %}