{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

{% for element in active_listings %}
<div class="card list-page" style="margin-bottom: 10px;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5 col-lg-4">
                {% if element.image %}
                    <image src="{{ element.image}}">
                {% else %}
                    <image src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Medium_box%2C_open.jpg">
                {% endif %}
            </div>
            <div class="col-sm-7 col-lg-8">
                <div><h4><a href="{%url 'listing' element.id%}">{{element.title}}</a></h4></div>
                <div><strong>Price: </strong>${{element.current_bid}}</div>
                <div>{{element.description}}</div>
                <div><small class="text-muted">Created {{element.date_created|date:"M. d, Y h:iA"}}</small></div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div>Not listenings actvies</div>
{% endfor %}

{% endblock %}