{% extends "auctions/layout.html" %}

{% block body %}
<h2>Show Listing</h2>

<section class="message">
{% if error_message %}
<div class="alert alert-danger">{{error_message}}</div>
{% endif %}

{% if user.is_authenticated and listing.is_active == False and list_bid.0.bidder.id == user.id %}
<div class="alert alert-primary">You won this auction!!!</div>
{% endif %}
</section>

<section class="product">
<div class="row">
    <div class="col-sm-6">
        <h4>Listing: {{ listing.title}}</h4>
    </div>
    <div class="col-sm-6 text-right">
        {% if user.is_authenticated %}
        {% if listing.seller.id == user.id and listing.is_active %}
        <a class="btn btn-danger" href="{% url 'close_listing' listing.id%}">Close Listing</a>
        {% endif%}
        {% endif %}
    </div>

</div>
{% if user.is_authenticated and listing.is_active %}
{% if active_whatchlist %}
<a href="{% url 'add_whatchlist' listing.id%}"><span class="badge badge-primary">Whatchlist</span></a>
{% else %}
<a href="{% url 'add_whatchlist' listing.id%}"><span class="badge badge-secondary">Add Whatchlist</span></a>
{% endif %}
{% else %}
{% if active_whatchlist %}
<span class="badge badge-primary">Whatchlist</span>
{% endif %}
{% endif %}
<div>
    {% if listing.image %}
        <image src="{{ listing.image}}">
    {% else %}
        <image src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Medium_box%2C_open.jpg">
    {% endif %}
        
</div>
<div>
    {{ listing.description}}
</div>
<div>
    <h4>${% if listing.starting_bid >= listing.current_bid %}
        {{listing.starting_bid}}
        {% else %}
        {{listing.current_bid}}
        {% endif %}
    </h4>
</div>
</section>

<section class="form-bid">
{% if user.is_authenticated and listing.is_active %}
<form method="post" action="{% url 'add_bid' listing.id%}">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-12">
            {% if list_bid|length > 0 %}
            <small>{{list_bid|length}} bid(s) so far.</small>
            {% if list_bid.0.bidder.id == user.id %}
            <small>Your bid is the current bid.</small>
            {% endif %}
            {% else %}
            <small>Be the first to bid.</small>
            {% endif %}
        </div>
        <div class="col-sm-12">
            {{ bidform.bid_amount}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Place Bid</button>
        </div>
    </div>
</form>
{% endif %}
</section>

<section class="detail">
<div>
    <div class="col-sm-12">
        <strong>Details:</strong>
    </div>
    <ul class="col-sm-12">
        <li>Listed by: {{ listing.seller.username}}</li>
        <li>Category: {% if listing.category %}{{ listing.category.title}}{% else %}No category listed{% endif %}</li>
    </ul>
</div>
</section>

<section class="comments">
{% for element in comments %}
<div class="card" style="margin-bottom: 10px;">
    <div class="card-body" style="padding-bottom: 0px;">
        <div class="row">

            <div class="col-sm-12">
                <div>{{element.content}}</div>
            </div>

        </div>
    </div>
    <div class="text-right" style="padding-right: 10px;">
        <small>By: {{element.commenter.username}} {{element.comment_time|date:"M. d, Y h:iA"}} </small>
    </div>
</div>
{% empty %}
<div class="card" style="margin-bottom: 10px;">
    <div class="card-body">
        <div>Empty Commnets</div>
    </div>
</div>
{% endfor %}

{% if user.is_authenticated and listing.is_active %}
<form method="post" action="{% url 'add_comment' listing.id%}">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-12">
            <span>Comment:</span>
        </div>
        <div class="col-sm-12">
            {{ commentform.content}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
</form>
{% endif %}
</section>

{% endblock %}