{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div class="m-4">

    {% for element in page_obj %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4><a href="{% url 'profile' element.user_id%}"><strong>{{element.username}}</strong></a></h4>
                </div>
                <div class="col-sm-12">{{element.content}}</div>
                <div class="like-number col-sm-12">
                    <button class="btn btn-sm btn-link" data-id="{{element.id}}">
                        {% if element.is_liked %}
                        <span class="heart-like" style="font-size: 1.6em; color: red">&#9829;</span>
                        {% else %}
                        <span class="heart-like" style="font-size: 1.6em; color: gray">&#9829;</span>
                        {% endif %}
                        <span class="number-like"
                            style="position: absolute; padding: 8px 5px;">{{element.number_like}}</span>
                    </button>
                </div>

                <div class="col-sm-12"><small class="text-muted">{{element.created_at|date:"M. d, Y h:i a"}}</small>
                </div>

            </div>
        </div>
    </div>
    {% empty %}
    <div class="card mt-3">
        <div class="card-body">
            <h4>Empty</h4>
        </div>
    </div>

    {% endfor %}

    <nav class="mt-3">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item" style="width: 85px"><span class="page-link h-100"></span></li>
            {% endif %}

            {% for i in ''|ljust:page_obj.paginator.num_pages %}
            {% if page_obj.number == forloop.counter%}
            <li class="page-item"><a class="page-link" style="background-color: lightblue;"
                    href="?page={{ forloop.counter }}">{{forloop.counter}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a></li>
            {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item" style="width: 60px;"><span class="page-link h-100"></span></li>
            {% endif %}

        </ul>
    </nav>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/like.js' %}"></script>
{% endblock %}