{% extends "lms/layout.html" %}
{% load static %}

{% block body %}

<div class="h2">My Courses</div>
{% for element in my_courses %}
<div class="card row-course  {%if element.state == 'active'%}border border-primary{%endif%}{%if element.state == 'closed'%}border border-danger{%endif%}" style="margin-bottom: 10px;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                {% if user.is_authenticated %}
                {% if user.id == element.teacher.id %}
                <div>
                    <h4><a href="{%url 'course' element.id%}">{{element.title}}</a></h4>
                </div>
                <div><strong>Teacher: </strong>{{element.teacher}}  <strong>State: </strong>{{element.state}}<a class="btn btn-link pb-0"
                        style="position: absolute; right: 0; bottom: 0;"
                        href="{%url 'edit_course' element.id%}">Edit</a></div>
                {% else %}
                <div>
                    <h4><a href="{%url 'enrollment' element.id%}">{{element.title}}</a></h4>
                </div>
                <div><strong>Teacher: </strong>{{element.teacher}} <strong>State: </strong>{{element.state}}</div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="card row-course" style="margin-bottom: 10px;">
    <div class="card-body">
        <div>Empty courses</div>
    </div>
</div>
{% endfor %}

<div class="h2">As teacher</div>

{% for element in courses_as_teacher %}
<div class="card row-course  {%if element.state == 'active'%}border border-primary{%endif%}{%if element.state == 'closed'%}border border-danger{%endif%}" style="margin-bottom: 10px;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                {% if user.is_authenticated %}
                {% if user.id == element.teacher.id %}
                <div>
                    <h4><a href="{%url 'course' element.id%}">{{element.title}}</a></h4>
                </div>
                <div><strong>Teacher: </strong>{{element.teacher.username}}  <strong>State: </strong>{{element.state}}<a class="btn btn-link pb-0"
                        style="position: absolute; right: 0; bottom: 0;"
                        href="{%url 'edit_course' element.id%}">Edit</a></div>
                {% else %}
                <div>
                    <h4><a href="{%url 'enrollment' element.id%}">{{element.title}}</a></h4>
                </div>
                <div><strong>Teacher: </strong>{{element.teacher.username}} <strong>State: </strong>{{element.state}}</div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<div>Empty courses</div>
{% endfor %}
<div class="row">
    <div class="col-sm-12" >
        <a class="btn btn-primary" style="float: right;" href="{% url 'create_course'%}">Create Course</a>
    </div>
</div>


{% endblock %}


{% block script %}
{% endblock %}